@import "/topnav.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

:root{
    --card-bg-color:#F7F7F7;
    --input-border:#b9b9b9;
    --input-border-top:#a0a0a0;
    --btn-clr:#4d90fe;
    --btn-hover:#357ae8;
    --terms-clr:#2f5bb7;
}

body{
  margin: 0%;
  padding: 0%;
  height: 100vh;
  text-align:center;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}
.login-container{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.login-card {
  margin-top: 50%;
  padding: 10px 40px;
  width: 274px;
  background-color: var(--card-bg-color);
  margin: 0 auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid ;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
  border: 1px solid var(--input-border-top) ;
  border-top: 1px solid var(--input-border) ;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
}

.login-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: var(--btn-clr);
}

.login-submit:hover {
  border: 1px solid #2f5bb7;
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: var(--btn-hover);
}


.signup{
    font-weight: bold;
}
.terms{
    color:var(--terms-clr) ;
    text-decoration: none;
    font-weight: bold;
}
.login-card a:hover {
  opacity: 1;
}

form a {
    text-decoration: none;
    color: black;
    font-weight: 300;
}